# .gitignore

# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
venv/

# Sensitive files or local configurations
*.env

# Real email content
email_content.py

# Logs
*.log

# IDE
.idea/

# OS files
Thumbs.db
